<div class="downloads-count no-cm-action"
     disable-tooltip-on-overflow>
	<jf-pending-data wait-for="row.entity.downloadsCount">
		{{ row.entity.downloadsCount}} Download{{row.entity.downloadsCount === 1 ? '' : 's' }}
	</jf-pending-data>
<!--
	<div ng-if="row.entity.downloadsCount !== undefined">
		<i class="icon icon-download"></i>
		<span>
            {{ row.entity.downloadsCount}} Download{{row.entity.downloadsCount === 1 ? '' : 's' }}
	    </span>
	</div>
	<div ng-if="row.entity.downloadsCount === undefined && row.entity.manualOnDemendDownloadsCount">
		<i class="icon icon-download"></i>
		<span class="show-download-count"
		      jf-tooltip="Click to calculate"
		      ng-click="appScope.$ctrl.calcPackageDownloads($event,row.entity)">
        Show downloads count
    </span>
	</div>
	<div ng-if="row.entity.downloadsCount === undefined && !row.entity.manualOnDemendDownloadsCount">
        &#45;&#45;
	</div>
-->
</div>
