<div class="keywords-wrap" disable-tooltip-on-overflow>
	<jf-pending-data wait-for="row.entity.keywords">
		<div class="keyword"
		     ng-repeat="keyword in row.entity.keywords.slice(0,3)"
		     ng-click="appScope.$ctrl.nativeParent.filterByKeyword(keyword); $event.stopPropagation()"
		     ng-style="{'max-width': row.entity.keywords.length > 3 ? '25%' : row.entity.keywords.length > 0 ? (100/row.entity.keywords.length) + '%' : 0}"
		     jf-tooltip-on-overflow>
			{{keyword}}
		</div>

		<div class="keyword"
		     ng-if="row.entity.keywords.length > 3"
		     jf-tooltip="{{'Show All (' + row.entity.keywords.length + ')'}}"
		     ng-click="appScope.$ctrl.nativeParent.showAll($event,row.entity.keywords, 'Keywords', true, appScope.$ctrl.nativeParent.filterByKeyword.bind(appScope.$ctrl.nativeParent), 'keywords-modal')">
			...
		</div>
	</jf-pending-data>
</div>