
<packages-component
        ng-if="$ctrl.subRouter.state === 'packages'"
        get-package-types="$ctrl.getPackageTypes({daoParams})"
        get-filters="$ctrl.getFilters({daoParams})"
        get-packages="$ctrl.getPackages({daoParams})"
		get-package-downloads-count="$ctrl.getPackageDownloadsCount({daoParams})">
</packages-component>

<package-component
        ng-if="$ctrl.subRouter.state === 'package'"
        get-package="$ctrl.getPackage({daoParams})"
        get-manifest="$ctrl.getManifest({daoParams})"
		show-in-tree="$ctrl.showInTree({pathParams})"
        get-version-downloads-count="$ctrl.getVersionDownloadsCount({daoParams})">
</package-component>

<version-component
        ng-if="$ctrl.subRouter.state === 'version'"
        get-version="$ctrl.getVersion({daoParams})"
        is-with-xray="$ctrl.isWithXray()">
</version-component>