
<packages-component
        ng-if="$ctrl.packagesReady && $ctrl.subRouter.state === 'packages'"
        package-types="$ctrl.packageTypes"
        filters="$ctrl.filters"
        packages="$ctrl.packages"
        refresh-packages="$ctrl.refreshPackages(daoParams)"
		get-package-downloads-count="$ctrl.refreshPackageDownloadsCount(daoParams)">
</packages-component>

<package-component
        ng-if="$ctrl.subRouter.state === 'package'"
        package-type="$ctrl.packageType"
        get-package="$ctrl.getPackage({daoParams: daoParams})"
        package="$ctrl.package"
        get-manifest="$ctrl.manifestCb(daoParams)"
		show-in-tree="$ctrl.showInTreeCb(pathParams)"
        get-version-downloads-count="$ctrl.refreshVersionDownloadsCount(daoParams)">
</package-component>

<version-component
        ng-if="$ctrl.subRouter.state === 'version'"
        package-type="$ctrl.packageType"
        get-version="$ctrl.getVersion({daoParams: daoParams})"
        package-name="$ctrl.daoParams.package"
        is-with-xray="$ctrl.isWithXray()">
</version-component>