
<packages-component
        ng-if="$ctrl.showPackages"
        package-types="$ctrl.packageTypes"
        filters="$ctrl.filters"
        packages="$ctrl.packages"
        refresh-packages="$ctrl.refreshPackages(daoParams)">
</packages-component>

<package-component
        ng-if="$ctrl.showPackage"
        package-type="$ctrl.packageType"
        refresh-package="$ctrl.refreshPackage(daoParams)"
        package="$ctrl.package"
        get-manifest="$ctrl.manifestCb(daoParams)">
</package-component>

<version-component
        ng-if="$ctrl.showVersion"
        package-type="$ctrl.packageType"
        refresh-version="$ctrl.refreshVersion(daoParams)"
        package-name="$ctrl.daoParams.package"
        version="$ctrl.version">
</version-component>