<div class="jf-page-wrapper"
        ng-class="{'with-xray': $ctrl.withXray}">
    <div class="jf-page-header">
        <div class="jf-header-item">
            <h1>Package Viewer
                <span>
                    <i class="icon" ng-class="$ctrl.packageTypeIcon"></i>
                    {{$ctrl.nativeParent.getDisplayNameForPackageType($ctrl.$stateParams.packageType)}}
                </span>
            </h1>

            <div class="back-link">
                <a href ng-click="$ctrl.goBack()" ng-show="$ctrl.versionAlias">
                    <i class="icon icon-addons-arrow-left"></i>
                    Back to list of {{$ctrl.versionAlias.toLowerCase()}}s
                </a>
            </div>
        </div>
    </div>
    <div class="jf-page-summary">
        <jf-summary-row
                ng-if="$ctrl.summaryColumns && $ctrl.summaryData"
                columns=$ctrl.summaryColumns
                parent-scope="$ctrl.$scope">
        </jf-summary-row>
    </div>

    <div class="jf-page-content">
        <div class="jf-content-section">
            <div class="jf-main-content-pane">
	            <jf-widgets-layout widgets="$ctrl.descriptor.common.widgets"
	                               layout="$ctrl.descriptor.typeSpecific[$ctrl.$stateParams.packageType].widgetsLayout"
	                               options="$ctrl.widgetsOptions"></jf-widgets-layout>

            </div>
        </div>
        <div class="jf-content-section" ng-if="$ctrl.withXray">
            <div class="jf-main-content-pane">
                Xray stuff here
            </div>
        </div>
    </div>
</div>
