<div class="jf-page-wrapper">
    <div class="jf-page-header">
        <div class="jf-header-item">
            <h1>Package Viewer
                <span>
                    <i class="icon icon-{{$ctrl.packageType.toLowerCase()}}"></i>
                    {{$ctrl.jFrogUIUtils.capitalizeFirstLetter($ctrl.packageType)}}
                </span>
            </h1>

            <div class="back-link">
                <a href ng-click="$ctrl.goBack()">
                    <i class="icon icon-addons-arrow-left"></i>
                    Back to list of packages
                </a>
            </div>
        </div>
    </div>
    <div class="jf-page-summary">
        <jf-summary-row
                columns=$ctrl.summaryColumns
                parent-scope="$ctrl.$scope">
        </jf-summary-row>
    </div>
    <div class="jf-page-content">
        <div class="jf-content-section">
            <div class="jf-main-content-pane">
                <jf-table-view
                        options="$ctrl.tableViewOptions"
                        object-name="Package">
                </jf-table-view>
            </div>
        </div>
    </div>
</div>
