package-component {
  .jf-page-wrapper {
    .jf-page-content {
      .jf-content-section {
        .jf-table-view {
          .jf-table-view-container {
            .jf-table-row {
              cursor: pointer;
            }
          }
          .jf-table-cell.field-id-name {
            padding-left: 10px;
          }
          .jf-table-cell.field-id-package-id {
            jf-clip-copy {
              display: inline-block;
              float: left;
            }
            .package-id {
              display: inline-block;
              padding: 4px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.modal {
  .manifest-modal {
    .manifest {
      position: relative;
      jf-clip-copy {
        left: ~"calc(100% - 15px)";
        position: absolute;
      }
    }
  }
}