packages-component {
  .jf-page-wrapper {
    grid-template-rows: 120px 1fr;
    grid-template-areas: "header-area" "content-area";

    .jf-page-header {
      grid-template-rows: 120px;
      .jf-header-item {
        .filter.repo-type {
          display: none;
        }
        .filters {
          margin-top: 21px;
          border-bottom: 1px solid @grayBGHover;
          width: fit-content;
          color: @blackBGLight;
          .icon-filter {
            margin: 12px 12px 12px 0;
            float: left;
          }
          .filter {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            .free-text {
              width: 100px;
            }
            &.more-filters {
              .jf-multi-dropdown.with-text-inputs {
                .main-box {
                  width: 318px;
                }
                .drop-down-container {
                  width: 380px;
                }
              }
            }
            &.repos-filters {
              .jf-multi-dropdown {
                .main-box {
                  width: 250px;
                }
                .drop-down-container {
                  width: 280px;
                }
              }
            }
          }
          button.apply-button {
            border: none;
            text-align: right;
            padding: 0;
            min-width: 50px;
          }
        }
      }
    }

    .jf-page-content {
      .jf-table-view {
        .jf-table-top {
          display: none;
        }
        .jf-table-view-container {
          .jf-table-cell {
            .name {
              padding-left: 30px;
              color: @blackFontDark;
              font-size: 16px;
              font-weight: 600;
            }
            .repositories {
              cursor: pointer;
            }
            .versions-count .icon-wrapper {
              display: inline-flex;
              .rotate-docker-tags();
            }
            .downloads-count {
              i {
                padding-right: 6px;
              }
            }
          }
          .table-rows-container {
            border: none;
          }
          .jf-table-row {
            background: @white;
            margin: 10px 0;
            border: none;
            cursor: pointer;
            &:hover {
              box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, .37);
              transition: box-shadow .20s ease-in;
            }
          }
          .empty-table-placeholder {
            height: 300px;
            line-height: 230px;
            margin-top: 0;
            background-color: @grayBGDark;
            color: @blackBGLight;
          }
        }
      }
    }
  }
}
